In [1]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px
import pandas as pd

In [2]:
# Import data
df = pd.read_csv('..\Resources\K_1-Math-Weighted Scores.csv')
df.head()

,Class Grade Level,Student ID,Assignment Name,Score Best Ever,Points Possible,Number Of Attempts,Most Recent Completion Date,Start Date,Due Date,Assignment Type,Progress,Assignment Grade Level,Unit Topic,Average Number Of Attempts,Weighted Score
0,K1,GK1_AK1,Add within 10,0.0,10.0,0,NaN,"Sep 29th, 4:48PM","Oct 8th, 11:59PM",Exercise,Missing,kindergarten,add-subtract,0.0,0.0
1,K1,GK1_AL1,Add within 10,0.0,10.0,0,NaN,"Sep 29th, 4:48PM","Oct 8th, 11:59PM",Exercise,Missing,kindergarten,add-subtract,0.0,0.0
2,K1,GK1_AH1,Add within 10,0.0,10.0,0,NaN,"Sep 29th, 4:48PM","Oct 8th, 11:59PM",Exercise,Missing,kindergarten,add-subtract,0.0,0.0
3,K1,GK1_AN1,Add within 10,0.0,10.0,0,NaN,"Sep 29th, 4:48PM","Oct 8th, 11:59PM",Exercise,Missing,kindergarten,add-subtract,0.0,0.0
4,K1,GK1_EC1,Add within 10,0.0,10.0,0,NaN,"Sep 29th, 4:48PM","Oct 8th, 11:59PM",Exercise,Missing,kindergarten,add-subtract,0.0,0.0

## Visualizations
1. Student Summary
- Average Score Overall = sum(weighted score) / sum(total points possible)
- Completed Assignments
- Missing Assignments
- Avg Number of attempts
- Avg quiz score
- Avg Unit Test score
- Top Unit Topic - highest average score grouped by Unit topic - Bar Chart of Unit topics

2. Student Class Comparison
- box plot - Student performance among class (for all units, topics, assignments)
- box plot - student performance among class (for all quizzes)
- box plot - student performance among class (for all unit test scores)

### Student Summary: Top Unit Topic
We will create a bar chart of each individual students' average unit topic scores. This will the the combined average of all the student assignments, quizzes, and unit tests.

In [3]:
# Students with scores
df.loc[df['Weighted Score'] > 0, 'Student ID'].unique()

array(['GK1_KM1', 'GK1_TL1', 'GK1_NE1', 'GK1_AK1', 'GK1_AN1'],
      dtype=object)

In [4]:
# test on one student first
sample_stud = df.loc[df['Student ID'] == 'GK1_KM1']

In [5]:
# Group data by the unit topic and take the average of their weighted scores
sample_stud_unit_avg = sample_stud.groupby(['Unit Topic']).mean('Weighted Score')
sample_stud_unit_avg = sample_stud_unit_avg.reset_index()
sample_stud_unit_avg.columns

Index(['Unit Topic', 'Score Best Ever', 'Points Possible',
       'Number Of Attempts', 'Average Number Of Attempts', 'Weighted Score'],
      dtype='object')

In [38]:
# Group data by the unit topic and take the sum of their weighted scores
sample_stud_unit_sum = sample_stud.filter(['Unit Topic', 'Score Best Ever', 'Points Possible', 'Number Of Attempts', 'Weighted Score']
                                          ).groupby(['Unit Topic']).sum()
sample_stud_unit_sum = sample_stud_unit_sum.add_prefix('Total ')
sample_stud_unit_sum = sample_stud_unit_sum.reset_index()

# Find the percentage of weighted score to total points possible per unit
sample_stud_unit_sum['Student Flag'],sample_stud_unit_sum['Unit Topic % Score'] = 'Y',round(sample_stud_unit_sum['Total Weighted Score']/sample_stud_unit_sum['Total Points Possible']*100, 2)
temp = sample_stud_unit_sum.filter(['Unit Topic', 'Total Score Best Ever', 'Total Points Possible',
       'Total Number Of Attempts', 'Total Weighted Score'])
temp['Student Flag'],temp['Unit Topic % Score'] = 'N', 100 - sample_stud_unit_sum['Unit Topic % Score']
sample_stud_unit_sum =  pd.concat([sample_stud_unit_sum, temp])
sample_stud_unit_sum.columns

Index(['Unit Topic', 'Total Score Best Ever', 'Total Points Possible',
       'Total Number Of Attempts', 'Total Weighted Score', 'Student Flag',
       'Unit Topic % Score'],
      dtype='object')

In [6]:
sample_stud_unit_avg

,Unit Topic,Score Best Ever,Points Possible,Number Of Attempts,Average Number Of Attempts,Weighted Score
0,add-subtract,1.400000,9.400000,0.200000,0.200000,1.400000
1,counting,5.230769,7.615385,1.230769,1.487179,4.448718
2,place-value,7.000000,7.000000,2.000000,1.500000,4.666667

In [39]:
sample_stud_unit_sum

,Unit Topic,Total Score Best Ever,Total Points Possible,Total Number Of Attempts,Total Weighted Score,Student Flag,Unit Topic % Score
0,add-subtract,14.0,94.0,2,14.000000,Y,14.89
1,counting,68.0,99.0,16,57.833333,Y,58.42
2,place-value,7.0,7.0,2,4.666667,Y,66.67
0,add-subtract,14.0,94.0,2,14.000000,N,85.11
1,counting,68.0,99.0,16,57.833333,N,41.58
2,place-value,7.0,7.0,2,4.666667,N,33.33

In [2]:
unit_topic_bar = px.bar(sample_stud_unit_sum, x='Unit Topic', y='Unit Topic % Score',
             color='Student Flag', color_discrete_sequence= ['#8FDAD5', '#E0E0E0'],
             title = 'Unit Topic Performance')
unit_topic_bar.show()

NameError: name 'px' is not defined